name: CI-Release

on:
  pull_request:
    types: [ opened, reopened ]
  push:
    branches:
      - master

jobs:
  build-binary:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: build binary
        run: |
          docker build . -t builder
          docker run --rm -v ${PWD}:/project builder make
      - name: create distribution .zip
        run: |
          docker run --rm -v ${PWD}:/project builder make dist
      - uses: actions/upload-artifact@master
        with:
          name: wafel_installer
          path: "./dist/wiiu/"